<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Demo Buku</title>
<link rel="stylesheet"
	href="/webjars/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet"
	href="/webjars/font-awesome/5.13.0/css/all.min.css">
<link ref="stylesheet" th:src="@{/css/mystyle.css}">
</head>
<body>
	<div th:replace="fragments/header::header"></div>
	<div class="container">
		<div class="row">
			<a th:href="@{/books}" class="btn btn-success">Add New Book</a>
			<span th:if="${session.CURRENT_USER!=null}">
				<a th:href="@{/logout}">Logut - <span th:text="${session.CURRENT_USER.fullName}"></span></a>
			</span>
		</div>
		<table class="table">
			<thead class="thead-dark">
				<tr>
					<th scope="col">ID</th>
					<th scope="col">Title</th>
					<th scope="col">Description</th>
					<th scope="col">Price</th>
					<th scope="col">Category</th>
					<th scope="col">Action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="book: ${listOfBooks}">
					<td th:text="${book.id}">1</th>
					<td th:text="${book.title}">Mark</td>
					<td th:text="${book.description}">Otto</td>
					<td th:text="${book.price}">@mdo</td>
					<td th:text="${book.category.name}">XXXX</td>
					<td style="align-items:middle">
						<a th:href="@{/books/edit/{id}/(id=${book.id})}" class="btn btn-warning"><i class="fas fa-edit"></i></a>
						<a th:href="@{/books/delete/{id}/(id=${book.id})}" class="btn btn-danger"><i class="fas fa-trash-alt"></i></a>
					</td>
				</tr>				
			</tbody>
		</table>
		
	</div>
	<div th:replace="fragments/footer::footer"></div>
</body>
</html>