<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Demo Buku</title>
<link rel="stylesheet"
	href="/webjars/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet"
	href="/webjars/font-awesome/5.13.0/css/all.min.css">
<link ref="stylesheet" th:src="@{/css/mystyle.css}">
</head>
<body>
	<div th:replace="fragments/header::header"></div>
	<div class="container">
		<div class="row">
			<a th:href="@{/books}" class="btn btn-success">Add New Book</a>
		</div>
		<table class="table">
			<thead class="thead-dark">
				<tr>
					<th scope="col">ID</th>
					<th scope="col">Title</th>
					<th scope="col">Description</th>
					<th scope="col">Price</th>
					<th scope="col">Category</th>
					<th scope="col">Action</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th scope="row">1</th>
					<td>Mark</td>
					<td>Otto</td>
					<td>@mdo</td>
					<td>XXXX</td>
					<td style="align-items:middle">
						<a th:href="@{/books/edit}" class="btn btn-warning"><i class="fas fa-edit"></i></a>
						<a href="" class="btn btn-danger"><i class="fas fa-trash-alt"></i></a>
					</td>
				</tr>				
			</tbody>
		</table>
		
	</div>
	<div th:replace="fragments/footer::footer"></div>
</body>
</html>